/* <?php

    $theme = "dark";
    :root{
        --blue-background: #001952;
        --text-color: #ccc;
    }
?>
*/

@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}
h1{
    font-family: 'Space Grotesk';
    font-size: 2.5rem;
    text-align: center;
}

:root{
    --blue-background: #000e2c;
    --text-color: #ccc;
    --m: 3rem;
  
  --red: #FF6565;
  --pink: #FF64F9;
  --purple: #6B5FFF;
  --blue: #4D8AFF;
  --green: #5BFF89;
  --yellow: #FFEE55;
  --orange: #FF6D1B;
}

body{
    background-color: var(--blue-background);
}

main{
    min-height: 100vh;
    position:relative;
    overflow: hidden;
    background-image: 
    radial-gradient(at 30% 70%, rgba(1, 18, 41, 0.5) 0, transparent 50%),
    radial-gradient(at 90% 10%, rgba(1, 18, 41, 0.5) 0, transparent 50%),
    radial-gradient(at 90% 40%, rgba(107, 37, 104, 0.6) 0, transparent 50%),
    radial-gradient(at 85% 85%, #9e4663b0 0, rgba(212, 115, 180, 0.3) 50%),
    radial-gradient(at 60% 90%, rgba(20, 40, 80, 0.7) 0, transparent 50%),
    radial-gradient(at 20% 90%, #051c3f 0, transparent 50%),
    radial-gradient(at 75% 10%, #102840 0, transparent 50%),
    radial-gradient(at 10% 20%, rgba(70, 18, 65, 0.8) 0, transparent 50%);
  }
nav {
    margin-left: auto; 
    text-decoration: none;
    list-style: none;
    width:auto;
}

header{
    max-height: 60px;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    font-family: 'Space Grotesk';
    backdrop-filter: blur(3px);
}

nav a{
    margin-left:2em;
}

.linkanimation {
  text-decoration: none;
  text-decoration-color: none;
  color: white;
  position: relative;
}
.linkanimation::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FEFEFE;
  transform: scale(1,1);
  transition: background-color .5s ease-in-out;
  bottom: 0px;
  transform: translateX(-100%) scalex(0);
}

.linkanimation:not(.animation-ready)::before {
  animation: none !important;
}

.linkanimation.animation-ready:not(:hover)::before {
  animation: link-disappear ease-in-out forwards 0.4s 1;
  transform-origin: right;
}

.linkanimation:hover::before {
  animation: link-appear ease-in-out forwards 0.4s 1 100ms;
  transform-origin: right; 
}

@keyframes link-appear {
   0%{
    transform: translateX(-100%) scalex(0);
  }
   100%{
    transform: translateX(-100%) scalex(-1);
  }
}

@keyframes link-disappear {
  0%{
    transform: translateX(-100%) scalex(-1);
  }
  100%{
    transform: translateX(-100%) scalex(0);
  }
}

#index button {
  border: calc(0.09 * var(--m)) solid transparent;
  position: relative;
  color: #F3F3F3;
  font-family: 'Space Grotesk';
  font-size: var(--m);
  border-radius: calc(0.7 * var(--m));
  padding: calc(0.5 * var(--m)) calc(1 * var(--m));
  display: flex;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  
  background:linear-gradient(#121213, #121213), linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),  linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;
  transition: transform 0.3s ease-in-out;
}

#index button::before {
  content: '';
  z-index: 0;
  background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  height: 30%;
  width: 80%;
  position: absolute;
  bottom: -60%;
  background-size: 200%;
  animation: animate 2s infinite linear;
  filter: blur(calc(0.8 * var(--m)));
}

#index div:first-child a img{
  width:50px;
  position: absolute;
  bottom: 1em;
  left: 50%;
  animation: bounce 1.5s infinite ease-in-out; /* Animation infinie */
  cursor:pointer;
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, -50%) scaleY(-1) translateY(0); /* Position initiale avec miroir */
  }
  50% {
    transform: translate(-50%, -50%) scaleY(-1) translateY(-10px); /* Déplacement vers le haut */
  }
}

#index button:hover, #index button:hover::before {
  animation: animate 0.5s infinite linear;
}

@keyframes animate {
  0% {background-position: 0; }
  100% {background-position: 200%}
}

@media screen and (max-width: 600px) {
  :root {
    --m: 2rem;
  }
}

#index > div:first-child{
  grid-row: 1/2;
  grid-column: 1/4;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 0;
  height: calc(100vh - 60px);
  /* background-image: radial-gradient(at center, transparent 48%, #2a0535); */
}

#index > div:nth-child(2){
  grid-row: 2/3;
  grid-column: 1/4;
  padding-top:5em;
  padding-bottom:5em;
  text-align: center;
  margin-inline:auto;
  font-family: 'Space Grotesk';
}

#index .card-container{
  grid-row: 3/4;
  grid-column: 1/4;
  display:flex;
  justify-content: space-around;
  z-index:0;
  position: relative;
  padding-bottom:5em;
}

#index .card:first-of-type{
  grid-row: 3/4;
  grid-column: 1/2;
}

#index .card:nth-of-type(2){
  grid-row: 3/4;
  grid-column: 2/3;
}

#index .card:nth-of-type(3){
  grid-row: 3/4;
  grid-column: 3/4;
}

#index .card{
  z-index:2;
  margin: 0 auto;
  padding: 2em;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position:relative;
  overflow: hidden;
}

#index .card{
  font-family: 'Space Grotesk';
}

#index .card h2{
  font-size: 1.5em;
  margin-bottom: 1em;
}

.card-wrapper {
  position: relative;
  display: inline-block;
  transform: translateZ(0);
  margin:0 50px;
  transition: transform 0.3s ease, filter 0.3s ease; /* Transition fluide pour l'effet */
}

.card-wrapper:hover {
  transform: scale(1.05); /* Agrandit légèrement la carte */
}

@property --angle {
  syntax: "<angle>";
  initial-value:0deg;
  inherits: false;
}

#index .card-wrapper::after, #index .card-wrapper::before {
  z-index:-1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:red;
  top:50%;
  left:50%;
  padding:3px;
  transform: translate(-50%, -50%);
  background: conic-gradient(from var(--angle), var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  border-radius: 10px;
  animation: 3s spin linear infinite;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transition fluide */
  transform: translate(-50%, -50%) scale(1); /* Agrandit légèrement l'after */
  opacity: 0.5; /* Rend l'after visible */
}

#index .card-wrapper::before {
  filter: blur(1.5rem);
  opacity: 0.5;

}



@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

#index{
  display:grid;
  grid-template-rows: calc(100vh - 60px), auto, auto;
  grid-template-columns: repeat(3, 1fr);
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px; /* Taille du halo */
  height: 300px; /* Taille du halo */
  border-radius: 50%; /* Forme circulaire */
  background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  background-size: 200%;
  animation: animate 2s infinite linear; /* Animation identique au bouton */
  filter: blur(140px); /* Effet de flou pour le halo */
  pointer-events: none; /* Empêche le curseur d'interagir avec les éléments */
  z-index: 0; /* Toujours au-dessus des autres éléments */
  transform: translate(-50%, -50%); /* Centre le halo sur la position de la souris */
}

footer{
  margin-top:-60px;
  max-height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:100;
  font-family: 'Space Grotesk';
  backdrop-filter: blur(3px);
}



/*Partie Mirina*/

/*à vérifier si ca s'applique */
#connexion-main{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#connexion-main{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  }

.login-box{
  position: relative;
  width: 400px;
  height: 450px;
  background: #aed6f1;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  }

  body.connexion h2{
    font-size:2em;
    text-align: center;
  }

  .input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #ffff;
}
.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #ffff;
  pointer-events: none;
  transition: .5s;

  }

  .input-box input:focus~label,
  .input-box input:valid ~label{
    top: -5px;
  }

  .input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
    
  }

  .input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px; 

  }
  

  .remember-forgot{
    margin: -15px 0 15px; /*haut gauche/droite bas*/
    font-size: .9em;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  .remember-forgot label input{
    margin-right: 3px;
  }
  
  .remember-forgot a{
    color: #ffff;
    text-decoration: none;
  }
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  #connexion-main button{
    width: 100%;
    height: 40px;
    background:var(--blue-background);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-weight: 500;
    
  }


  .register_link{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
  }


